.app{
  background-color: rgb(245, 211, 208);
}

.wrapper{
  display:grid;
  grid-template-rows: 1fr 2fr 3fr 2fr 1fr 1fr;
  grid-template-columns: 40% 3fr 1fr 1fr;
  background-color: white;
  height: 600px;
  column-gap: 10px;
  width: 40 em; 

}



